
<%
var title = 'Categories';
if (page.category) title = page.category;
if (page.tag) title = page.tag;
%>

<div class="category-index">
      <div class="sidelist">
            <h3 class="categories-title"><%= __('categories') %></h3>
              <%- list_categories() %>
          </div>
          <!--
        <div class="list">
          <% if(title) { %>
              <h3><%- titlecase(title) %></h3>
          <% } %>
          <% if (page.archive){ %>
          <%- list_archives({format: "MMM - YYYY"}) -%>
          <%} else if (page.tag) {%>
          <ul class="archive-list">
          <% site.tags.sort('name').each(function(item){ %>
              <li class="archive-list-item">
                  <a class="archive-list-link" href="<%- config.root %><%- item.path %>"><%= item.name %> </a>
                  <span class="archive-list-count"> (<%= item.posts.length %>)</span>
              </li>
          <% }); %>
          </ul>
          <%} else if (page.category) {%>
          <ul class="archive-list">
              <% site.categories.sort('name').each(function(item){ %>
              <li class="archive-list-item">
                  <a class="archive-list-link" href="<%- config.root %><%- item.path %>"><%= item.name %> </a>
                  <span class="archive-list-count"> (<%= item.posts.length %>)</span>
              </li>
              <% }); %>
          </ul>
          <%}%>
      </div>
    -->
    </div>
    <!--
    <div class="main lists">
        <% page.posts.each(function(item){ %>
        <%- partial('_partial/article-archive', {item: item}) %>
        <% }); %>
        <%- partial('_partial/pagination') %>
    </div>
  -->
</div>
