<div id="footer">
  <%- partial('_partial/social') %>
  <p id="footer-info">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> -
    <%= __('theme') %> <a href="https://github.com/Suolawangzai/hexo-theme-nebula" target="_blank">nebula</a>
  </p>

  <div id="busuanzi">
    <span id="busuanzi_container_site_pv">
      &hearts;
    <%=__('total_visits') %>: <span id="busuanzi_value_site_pv"></span>
    </span>
  </div>
  <!--
  <div id="footer-info">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
  </div>
-->
</div>
