<div id="footer">
  <%- partial('_partial/social') %>
  <p id="footer-info">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a> -
    <%= __('Theme') %> <a href="#" target="_blank">ray</a>
  </p>

  <div id="busuanzi">
    <span id="busuanzi_container_site_pv">
      &hearts;
    <%=__('Total visits') %><span id="busuanzi_value_site_pv"></span><%=__('times') %>
    </span>
  </div>
  <!--
  <div id="footer-info">
    &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
    <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
  </div>
-->
</div>
