<div class="blog-header">
   <a id="menu-nav-icon"><img src="<%= config.root %>image/menu.png"/></a>
   <div class="nav-container">
     <nav id="main-nav">
       <% for (var i in theme.menu){ %>
         <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
       <% } %>
     </nav>
   </div>
   <!--
   <div id="search-form-wrap">
     <%- search_form({button: '&#xF002;'}) %>
   </div>
 -->
    <h1 class="blog-title"><%= config.title %></h1>
    <p class="lead blog-description"><% if (config.subtitle){ %><%= config.subtitle %><% } %></p>
</div>
