<div id="footer-social">
    <% if (theme.fb_app_id){%>
    <a href="https://www.facebook.com/<%- theme.fb_app_id %>" target="_blank"><img src="<%= config.root %>image/facebookicon.png" alt=""/></a>
    <%}%>
    <% if (theme.github){%>
    <a href="https://github.com/<%- theme.github %>" target="_blank"><img src="<%= config.root %>image/githubicon.png" alt=""/></a>
    <%}%>
    <% if (theme.twitter){%>
    <a href="https://twitter.com/<%- theme.twitter%>" target="_blank"><img src="<%= config.root %>image/twittericon.png" alt=""/></a>
    <%}%>
    <% if (theme.google_plus){%>
    <a href="<%- theme.google_plus %>" target="_blank"><img src="<%= config.root %>image/googleplusicon.png" alt=""/></a>
    <%}%>
    <% if (theme.pinterest){%>
    <a href="https://www.pinterest.com/<%- theme.pinterest %>" target="_blank"><img src="<%= config.root %>image/pinteresticon.png" alt=""/></a>
    <%}%>
    <% if (theme.instagram){%>
    <a href="https://www.instagram.com/<%- theme.instagram %>" target="_blank"><img src="<%= config.root %>image/instagramicon.png" alt=""/></a>
    <%}%>
</div>
